body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: white;
  background-color: #212529;
}

.testimonio_carta--img {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
}

hr.solid {
  border-top: 3px solid white;
}

.bg--grey {
  background-color: #212529;
  border: none;
}

.txt--white {
  color: white;
}

.destacados_carta--img {
  object-fit: cover;
  height: 100%;
}
